<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Regression Suite" thread-count="3" parallel="tests">

	<test  name="Google Test">
	<parameter name="url" value="https://www.google.co.in/"></parameter>
	<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="testcases.GoogleTest"></class>
		</classes>
	</test> <!-- Test -->
	
	<test name="Open cart">
	<parameter name="url" value="https://www.opencart.com/"></parameter>
	<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="testcases.OpenCartTest"></class>
		</classes>
	</test> <!-- Test -->
	
	<test name="Amazon Test">
	<parameter name="url" value="https://www.amazon.in/"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="testcases.AmazonTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->